{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    [
      "react-css-modules",
      {
        "filetypes": {
          ".less": {
              "syntax": "postcss-less"
          }
        },
        "generateScopedName": "[name]__[local]___[hash:base64:5]"
      }
    ]
  ]
}
